body {
    background: var(--text-primary) !important;
}

#converter {
    color: #fff;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Converter {
    width: 300px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(224, 221, 5, 0.34);
    font-family: Arial, sans-serif;
    padding: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.Converter:hover {
    transform: translateY(-6px);
}

.Converter i {
    color: var(--secondary);
}

.Converter input,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
}

.Converter button {
    width: 100%;
    padding: 10px;
    background: var(--secondary-light);
    color: #fff;
    border: none;
    cursor: pointer;
}

.Converter button:hover {
    background: var(--secondary);
    transform: translateY(-6px);
}

/* left*/
.image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(224, 221, 5, 0.34);
    transition: 0.3s;
    cursor: pointer;
}
.image img:hover{
    transform: scale(1.09);
}